h1 {
    color: purple
}

form {
    outline-style: solid;
    outline-color: grey;
    outline-offset: 20px;
}

.form-group {
    padding: 15px
}

#dining {
    font-size: 30pt;
}

#submit {
    background-color: purple;
}