/*- - - - -  Nav - - - - - */
#navbar{
  background-color:lightcoral;
  color: black;
  
}
.nav {
  color: black;
}
/*- - - - -  Jumbotron 1 - - - - - */
#jumbotron {
  height: 790px;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-image: url("./images/beach-1.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  max-width: unset;
}
.Welcome {
margin-top: 80px;
 font-family: Roboto;
 color: white;
}
.tabsContainer {
  margin-top: 70px;
  height: 450px;
  width: 800px;
  opacity: 0.7px;
  filter: alpha(opacity=50);
  background-color: black; 
  opacity: 0.5;
  filter: alpha(opacity=50);
  padding: 45px 20px 45px 20px;
  display: flex;
  justify-content: space-around;
}
.tabsButton {
color: lightcoral;
background-color: white;
}

/*- - - - -  Home Details - - - - - */
.Home-Details-Container {
  height: 150px; 
  width: 1200px;
  display: flex;
  margin-left:50px;
  justify-content: center;
  
}
.details1 {
  height: 70px; 
  width: 70px;
  margin: 5px 35px;
  display: flex;
  justify-content: center;
  background-color:white;
  border: solid lightcoral;
  border-radius:  50px;
  
 
}
.detailCheck {
  height: 70px; 
  width: 70px;
  margin: 20px 15px;
  display: flex;
  justify-content: center;
  color: lightskyblue;
  
  
  }
.p1 {
color: white;
margin: 25px;
  
 
}

/*- - - - -  Jumbotron 2 - - - - - */


#jumbotron2 {
  height: 750px;
  margin-top: 0px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
}


.a {
  color: white;
}


#jh1 {
  margin-top: 10px;
  
}
#jp1 {
  margin-top: 10px;
}
#logo1{
  margin-top: -12px;
  margin-left: 35px;
}

/* - - - - - Cards - - -  */

.small {
  margin: 60px 100px;
  height: 600px;
  width: 200px;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: ;
  
}
/* - - - - - Footer - - -  */
.footer {
  margin-top: 0px;
  padding: 25px;
  height: 70px;
  background-color:lightcoral;
  color: white;
  text-align: center;

}