/*- - - - -  Nav - - - - - */
#navbar{
  background-color: lightblue;
  color: black;
}
.nav {
  color: black;
}

#jumbotron {
  height: 500px;
  margin-top: 0px;
  background-image: url("./images/john-westrock-706905-unsplash.jpg");
  color: white;
  text-align: center;
}
#hello-world {
  height: 100px;
  margin-top: 25%;
  background-color: white;
  color: black;
  text-align: center;
}

a {
  color: white;
}
#jumbotron {
  height: 580px;
}
#jumbotron2 {
  height: 250px;
  background-color: lightblue;
  color: white;
  text-align: center;
}
#card {
align: center;
}
#card1 {
margin-left: 3%;
}
#card2 {
margin-top: -20%;
margin-left: 10%;
}
#jh1 {
  margin-top: 10px;
  
}
#jp1 {
  margin-top: 10px;
}
#logo1{
  margin-top: -12px;
  margin-left: 35px;
  /* background-color: blue; */
}
/* - - - - - Footer - - -  */
.footer {
  margin-top: 0px;
  padding: 25px;
  height: 70px;
  background-color: lightblue;
  color: white;
  text-align: center;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
