/* - - - - section 1 - - - */
#section1 {
  height: 800px;
  background-color: grey;
  position: center;
  
}
#section1-h1 {
  padding: 10%;
  text-align: center;
  color: white;
}
#section1-p {
  text-align: center;
  color: white;

}
#section1-p2 {
  text-align: center;
  color: white;

}